.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    display: block;
    opacity: 1;
  }
  
  .skeleton-text {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    position: relative;
    color: transparent;
  }

  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
  
.add-popup-image{
  width: 100%;
  max-width: 217px; 
  aspect-ratio:1/1;
  background-color: rgb(87, 87, 87);
  margin: 2rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
