@mixin full-width-block-center{
    max-width: 1723px;
    margin: 0 auto;
}

.options-block-lg{
    @include full-width-block-center;
    width: 100%;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column-reverse;
    border-radius: var(--border-radius);
    margin-top: var(--spacing-500);
    p{
        margin-top: 2rem !important;
        max-width: 497px;
    }
}

.options-block-lg__left{
    width: 100%;
    padding: 5rem 3rem;;
    h2{
        max-width: 534px;
    }
}

.options-block-lg__right{
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    min-height: 326px;
    position: relative;
    background-color: rgb(184, 184, 184);
}

.options-block-lg__right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    position: absolute;
}

//customize toolbar

.cs-select-layout__layouts__popup{
    width: 200px;
    margin: 2rem;
    background-color: #fff;
}

.cs-select-layout__layout-name__selected{
    font-weight: 500;
}

.layout--selected{
    opacity: 40%;
    cursor: context-menu;
}

.cs-select-layout__layouts__popup .layout{
    margin-bottom: 2rem ;
}

.cs-select-layout__layouts__popup .layout img{
    border: 2px solid var(--theme-color);
    margin-bottom: 1rem !important;
    cursor: pointer;
    transition: .05s border ease-in-out;
}

.cs-select-layout__layouts__popup .layout img:hover{
    border: 2px solid #207C39;
}
//left text block 
@media screen and (min-width:765px){   
    .options-block-lg.left-text img {
        border-radius:  0 var(--border-radius) var(--border-radius) 0 ;
    }
}

//right text block
.options-block-lg.right-text {
    flex-direction: column;
}

@media screen and (min-width:765px){
    .options-block-lg.right-text {
        flex-direction: unset;
    }
    .options-block-lg.right-text .options-block-lg__right{
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }
    .options-block-lg.right-text img {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
      }
    
    
}


@media screen and (min-width:765px){
    .options-block-lg{
        display: flex;
        flex-direction: unset;
        
    }
    .options-block-lg__left{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: calc(100% * (6 / 12));
        // min-height: 567px;
        // padding: 5rem 0 7rem 7rem;
        min-height: 293px;
        padding: 7rem 2rem 7rem 4rem;
    }
    .options-block-lg__right{
        width: calc(100% * (6 / 12));
        height: auto;
    }
}

@media screen and (min-width:1030px){
    .options-block-lg__left{
        min-height: 415px;
        padding: 7rem 4rem 5rem 5rem;
    }
}


@media screen and (min-width:1400px){
    .options-block-lg__left{
        min-height: 593px;
        padding: 2rem 2rem 8rem 8rem;
    }
}

@media screen and (min-width:765px){
    .options-block-lg__right{
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }
}

