:root{
    --cs-block-bg-color:#f6f6f6;
    --cs-block-border-color:rgb(221, 221, 221);
}

@mixin cs-block-ui-border($borderColor){
    border: 1rem solid $borderColor;
}

@mixin cs-block-ui{
    background-color: var(--cs-block-bg-color);
    border-radius: var(--border-radius);
    padding: 5rem;
    min-height: 369px;
}

.cs-msg-ui{
    @include cs-block-ui;
    @include cs-block-ui-border(var(--cs-block-border-color));
}