
@media screen and (min-width:867px){
    .cs-three-column-options-block__content .block-editor-block-list__layout{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2.6rem;
    }
    
    .cs-three-column-options-block__wraper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2.6rem;
    }
}