.btn-content{
    padding: 1.8rem 3rem;
    border-radius: 150px;
    font-family: var(--primaryFont);
    border: none;
    min-width: 123px;
    font-size: 1.4rem;
    color: #313131;
    cursor:pointer;
    transition: all 0.3s cubic-bezier(0.49, 0.025, 0.49, 1);
    margin-top: var(--spacing-400);
    div{
        white-space: nowrap !important;
    }
}

.btn-editor{
    cursor: text;
}

@media screen and (min-width:1030px){
    .btn-content{
        padding: 2.6rem 3.2rem;
        min-width: 140px;
        font-size: 2.2rem;
    }
}

////////////////////////////////////
///////Button Hover Effects/////////
////////////////////////////////////
.btn-content:hover{
    background-color: var(--theme-color);
    // color: #fff;
}

.btn--dark:hover{
    color: #313131;
}

////////////////////////////////////
///////////Button Types/////////////
////////////////////////////////////

//Light
.btn-content.btn--light{
    background-color: rgb(231, 231, 231);
}

//Dark
.btn-content.btn--dark{
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
}