:root {
  --cs-block-bg-color:#f6f6f6;
  --cs-block-border-color:rgb(221, 221, 221);
}

.cs-msg-ui {
  background-color: var(--cs-block-bg-color);
  border-radius: var(--border-radius);
  padding: 5rem;
  min-height: 369px;
  border: 1rem solid var(--cs-block-border-color);
}

.cs-articals-block {
  margin-top: var(--spacing-500);
  margin-bottom: var(--spacing-500);
}

.cs-heading {
  max-width: 400px;
}

.cs-articals__link {
  color: inherit;
  text-decoration: none;
}

.cs-articals {
  margin-top: var(--spacing-400) !important;
}

.cs-articals__artical {
  min-width: 251px;
  cursor: pointer;
}

.cs-articals-block .swiper-slide {
  -ms-flex-negative: inherit !important;
      flex-shrink: inherit !important;
}

.cs-articals__artical-img {
  width: 100%;
  border-radius: 2rem;
  min-height: 192.2px;
  max-height: 192.2px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cs-articals__artical-artical-title {
  font-weight: 400;
  margin-top: 2rem !important;
  text-transform: capitalize;
}

.cs-articals-block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cs-articals-block__top-view-all {
  display: table;
  margin-left: auto !important;
  margin-top: 1rem !important;
  cursor: pointer;
}

.cs-articals-block__top-view-all__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--link-color);
  text-decoration: none;
}

.cs-articals-block__top-view-all__icon {
  width: 25px;
  height: 25px;
  margin-left: .5rem;
  fill: var(--link-color);
}

.cs-articals-block__top-view-all__wraper:hover .cs-articals-block__top-view-all__name {
  color: var(--theme-color) !important;
}

.cs-articals-block__top-view-all__wraper:hover .cs-articals-block__top-view-all__icon {
  fill: var(--theme-color);
}

@media screen and (min-width: 689px) {
  .cs-articals-block__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 1040px) {
  .cs-articals__artical {
    min-width: 251px;
  }
  .cs-articals__artical-img {
    min-height: 192.2px;
    max-height: 192.2px;
  }
}

@media screen and (min-width: 1040px) {
  .cs-articals__artical {
    min-width: 282px;
  }
  .cs-articals__artical-img {
    min-height: 242.2px;
    max-height: 242.2px;
  }
}

@media screen and (min-width: 1400px) {
  .cs-articals__artical {
    min-width: 327px;
  }
  .cs-articals__artical-img {
    min-height: 282px;
    max-height: 282px;
  }
}

.select-posts__posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

@media screen and (min-width: 582px) {
  .select-posts__posts {
    max-width: 80%;
  }
}

@media screen and (min-width: 905px) {
  .select-posts__posts {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

@media screen and (min-width: 1456px) {
  .select-posts__posts {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
  }
}

.select-item:hover {
  border: 1px solid var(--theme-color);
}

.select-posts {
  background-color: var(--cs-block-bg-color);
  border-radius: var(--border-radius);
  padding: 5rem;
  min-height: 369px;
  border: 1rem solid var(--cs-block-border-color);
  padding: 2rem;
}

@media screen and (min-width: 468px) {
  .select-posts {
    padding: 4rem;
  }
}

.select-posts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.select-posts__bottom-artical-count {
  margin-right: 2.3rem !important;
  font-weight: 300;
}

.select-posts__bottom-add-posts {
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.select-posts__bottom-cancel {
  margin-top: 0 !important;
  background-color: transparent !important;
  color: #252525 !important;
  border: 2px solid #525050;
}

.select-posts .err {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem !important;
}

@media screen and (min-width: 582px) {
  .select-posts__bottom {
    max-width: 80%;
  }
  .select-posts .err {
    width: 80%;
  }
}

.cs-articals__artical:hover .cs-articals__artical-img {
  opacity: 80%;
  -webkit-transition: .1s opacity ease-in-out;
  transition: .1s opacity ease-in-out;
}

.cs-articals__artical:hover .cs-articals__artical-artical-title {
  color: var(--theme-color);
  -webkit-transition: .1s color ease-in-out;
  transition: .1s color ease-in-out;
}
/*# sourceMappingURL=index.css.map */